[Desktop Entry]
Name=KWin Scripts

Comment=KWin Scripts

Icon=preferences-system-windows-actions
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_kwin_scripts
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript
X-KDE-FormFactors=desktop,tablet

X-Plasma-MainScript=ui/main.qml
